* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}






.wrapper-menu {
   width: 750px;
   margin-left: auto;
   margin-right: auto;
   border: solid 1px black;
   display: block;

}
h1{
  text-align: center;
  font-weight:800;
  color: black;
  font-size: 4.8rem;
  padding-top: 100px
}
.description{
  text-align: center;
  font-size: 2.4rem;
}

/* center the buttons */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; 
justify-content: space-around;
}
.btn--orange{
  padding: 15px 25px;
  background-color: orange;
  border: none;
  font-size: 18px;
  font-weight: bold;
}
.btn:hover, btn:focus {
  background-color: green;
}




/* Add padding to container elements */
.wrapper-signup {
  display: none;
  padding: 16px;
}
.wrapper-login{
  display: none;
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}