.btn {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    padding: .75rem 1.2rem;
    box-align: center;
}

.btn--orange {
    background-color:orange;
    display: inline-block;
}
.btn--todo{
    text-align: center;
    position: absolute;
    left: 42rem;
    top: 5rem;

}

.text-content {
    position: absolute;
    top: 10%;
    transform: translateY(-15%);
    margin-left: 40%;
    margin-right: 40%;
    width: 100%;
    box-align: center;
}
.title {
font-weight:300;
color: black;
font-size: 4.8rem;
margin: 0;

}

.description {
    color: black;
    font-weight: 100;
    text-shadow: 2px 2px 0 rgba(0,0,0,.1);
    font-size: 2rem;
}

section {
    position: absolute;
    top: 15rem;
    left: 10rem;
    bottom: 2rem;
    background-color: red;
    width: 80%
}
.section-header {
    position: Absolute;
    top: -.5rem;
    left: 40rem;
    padding: .5rem;
    font-size: 2.4rem;
}

.section-popup{
    background-color: white; 
    width:70rem; 
    height:30rem; 
    position:relative; 
    top:10px; 
    left:12rem; 
    z-index:2;
}
.section-popup li {
    padding: 1rem;
    font-size: 1.2rem;
}